{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}
{% block content %}
{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{ user.first_name }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
    {% include 'includes/messages.html' %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Checkout <span>{{ user.first_name }}</span></h1>
            <p>Order</p>
		</div>
	{% if orders %}
	
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">Car Name</th>
		  <th scope="col">Total Amount</th>


		  <th scope="col">Action</th>

		</tr>
	  </thead>
	  <tbody>
		{% for order in orders %}
		<tr>
		  <th scope="row">{{ forloop.counter }}</th>
		  <td>{{order.car_title}}</td>
        <td>{{ order.total_amount }}</td>
		<td><a href="{% url 'car_detail' order.car_id %}" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		{% endfor %}
	  </tbody>
    <div class="promo-code">
      <h5>Apply Promo Code</h5>
      <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="promo_code" placeholder="Enter promo code">
          <button type="submit" class="btn btn-primary">Apply</button>
      </form>
      <div class="checkout-button">
        <button type="button" class="btn btn-success" onclick="location.href=''">Proceed to Checkout</button>
    </div>
  </div>
	</table>
	{% else %}
		<h4>You have no items to checkout.</h4>
	{% endif %}
</div>

<!--   Dashboard End   -->


		
</div>

<!-- Checkout Section End -->


{% endblock %}