option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "carRental.settings"
    "PYTHONPATH": "/var/app/venv/staging-LQM1lest/bin:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: car-rental-project/carRental/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"